{% load static %}
<!doctype html>
<html lang="zh-CN">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>博木院</title>
  <meta name="keywords" content="博木院" />
  <meta name="description" content="博木院" />

  <link rel="stylesheet" href="{% static 'plugins/swiper/swiper-4.3.5.min.css' %}">
  <link rel="stylesheet" href="{% static 'plugins/bootstrap/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'plugins/fontawesome/css/font-awesome.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/front.css' %}">
</head>

<body>
  <header class="main-header">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-xs-3 col-xs-5">
          <div class="logo">logo</div>
        </div>
        <div class="col-md-9 col-xs-9 col-xs-7">

        </div>
      </div>
    </div>
  </header>

  <section class="article-main">
    <div class="container">
      <div class="row">
        <div class="col-md-9 col-sm-9 col-xs-12">
          <ul class="article-list">
            <li>
              <div class="row article">
                <div class="col-md-4 col-sm-4 col-xs-6 img">
                  <a href="" title=""><img src="{% static 'images/tupian.jpg' %}" alt="" /></a>
                </div>
                <div class="col-md-8 col-sm-8 col-xs-6 info">
                  <h3><a href="" title="">太阳是什么</a></h3>
                  <p class="mt1">
                    太阳是什么太阳是什么太阳是什么太阳是什么太阳是什么太阳是什么太阳是什么太阳是什么
                    太阳是什么太阳是什么太阳是什么太阳是什么太阳是什么太阳是什么太阳是什么太阳是什么
                    太阳是什么太阳是什么太阳是什么太阳是什么太阳是什么太阳是什么太阳是什么太阳是什么
                  </p>
                </div>
              </div>
            </li>

            <li>
              <div class="row article">
                <div class="col-md-4 col-sm-4 col-xs-6 img">
                  <a href="" title=""><img src="{% static 'images/tupian.jpg' %}" alt="" /></a>
                </div>
                <div class="col-md-8 col-sm-8 col-xs-6 info">
                  <h3><a href="" title="">太阳是什么</a></h3>
                  <p class="mt1">
                    太阳是什么太阳是什么太阳是什么太阳是什么太阳是什么太阳是什么太阳是什么太阳是什么
                    太阳是什么太阳是什么太阳是什么太阳是什么太阳是什么太阳是什么太阳是什么太阳是什么
                    太阳是什么太阳是什么太阳是什么太阳是什么太阳是什么太阳是什么太阳是什么太阳是什么
                  </p>
                </div>
              </div>
            </li>

            <li>
              <div class="row article">
                <div class="col-md-4 col-sm-4 col-xs-6 img">
                  <a href="" title=""><img src="{% static 'images/tupian.jpg' %}" alt="" /></a>
                </div>
                <div class="col-md-8 col-sm-8 col-xs-6 info">
                  <h3><a href="" title="">太阳是什么</a></h3>
                  <p class="mt1">
                    太阳是什么太阳是什么太阳是什么太阳是什么太阳是什么太阳是什么太阳是什么太阳是什么
                    太阳是什么太阳是什么太阳是什么太阳是什么太阳是什么太阳是什么太阳是什么太阳是什么
                    太阳是什么太阳是什么太阳是什么太阳是什么太阳是什么太阳是什么太阳是什么太阳是什么
                  </p>
                </div>
              </div>
            </li>

            <li>
              <div class="row article">
                <div class="col-md-4 col-sm-4 col-xs-6 img">
                  <a href="" title=""><img src="{% static 'images/tupian.jpg' %}" alt="" /></a>
                </div>
                <div class="col-md-8 col-sm-8 col-xs-6 info">
                  <h3><a href="" title="">太阳是什么</a></h3>
                  <p class="mt1">
                    太阳是什么太阳是什么太阳是什么太阳是什么太阳是什么太阳是什么太阳是什么太阳是什么
                    太阳是什么太阳是什么太阳是什么太阳是什么太阳是什么太阳是什么太阳是什么太阳是什么
                    太阳是什么太阳是什么太阳是什么太阳是什么太阳是什么太阳是什么太阳是什么太阳是什么
                  </p>
                </div>
              </div>
            </li>
          </ul>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-12">
          <div class="media">
            <a href="" title=""><img src="{% static 'images/tupian.jpg' %}" alt="" /></a>
          </div>
          <div class="mt20 aside-recommend">
            <h3>热门</h3>
            <ul class="mt1">
              <li><a href="" title="">太阳是什么太阳是什么太阳是什么太阳</a></li>
              <li><a href="" title="">太阳是什么太阳是什么太阳是什么太阳</a></li>
              <li><a href="" title="">太阳是什么太阳是什么太阳是什么太阳</a></li>
              <li><a href="" title="">太阳是什么太阳是什么太阳是什么太阳</a></li>
              <li><a href="" title="">太阳是什么太阳是什么太阳是什么太阳</a></li>
              <li><a href="" title="">太阳是什么太阳是什么太阳是什么太阳</a></li>
              <li><a href="" title="">太阳是什么太阳是什么太阳是什么太阳</a></li>
              <li><a href="" title="">太阳是什么太阳是什么太阳是什么太阳</a></li>
              <li><a href="" title="">太阳是什么太阳是什么太阳是什么太阳</a></li>
              <li><a href="" title="">太阳是什么太阳是什么太阳是什么太阳</a></li>
            </ul>
          </div>
          <div class="media">
            <a href="" title=""><img src="{% static 'images/tupian.jpg' %}" alt="" /></a>
          </div>
          <div class="mt20 aside-recommend">
            <h3>推荐</h3>
            <ul class="mt1">
              <li><a href="" title="">太阳是什么太阳是什么太阳是什么太阳</a></li>
              <li><a href="" title="">太阳是什么太阳是什么太阳是什么太阳</a></li>
              <li><a href="" title="">太阳是什么太阳是什么太阳是什么太阳</a></li>
              <li><a href="" title="">太阳是什么太阳是什么太阳是什么太阳</a></li>
              <li><a href="" title="">太阳是什么太阳是什么太阳是什么太阳</a></li>
              <li><a href="" title="">太阳是什么太阳是什么太阳是什么太阳</a></li>
              <li><a href="" title="">太阳是什么太阳是什么太阳是什么太阳</a></li>
              <li><a href="" title="">太阳是什么太阳是什么太阳是什么太阳</a></li>
              <li><a href="" title="">太阳是什么太阳是什么太阳是什么太阳</a></li>
              <li><a href="" title="">太阳是什么太阳是什么太阳是什么太阳</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>

  <footer class="main-footer">
    <div class="container">
      <div class="text-center footer-nav">
        <ul class="clearfix">
          <li><a href="" title="">首页</a></li>
          <li><a href="" title="">网站地图</a></li>
          <li><a href="" title="">移动端网站</a></li>
          <li><a href="" title="">联系我们</a></li>
        </ul>
      </div>
      <div class="text-center contact">
        <span>联系方式: xxxxxxxxxxx</span>
        <span>邮箱: xxxxxxxxxxx</span>
      </div>
      <div class="text-center copyright">
        copyright yuesdfjlsdfsdkfjsdjf
      </div>
    </div>
  </footer>
</body>
</html>